.App {
  text-align: center;
}

.contatos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abilities-container {
  display: flex;
}

.abilities-list {
  list-style: none;
}
